SITE=site-a
NODE_NAME=consul-monitor-1
CONSUL_ADDR=https://127.0.0.1:8501
CONSUL_CACERT=/consul/tls/ca/consul-agent-ca.pem
CONSUL_AUTO_ENCRYPT_CA_ADDR=https://consul-server.example.com:8501
CONSUL_KV_PATH=dns-failover/dns-failover-monitoring-config.yml
BLOCKING_WAIT=5m
HEARTBEAT_INTERVAL=30
LOG_LEVEL=INFO
